.welcome-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    align-items:center;
    align-content: flex-end;
    justify-content:center;
    text-align: center;
}
  
  .button-container {
    margin-top: 20px;
  }
  
  .login-button,
  .register-button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .login-button:hover,
  .register-button:hover {
    background-color: #0056b3;
  }
  


  .element {
    margin-bottom: 10px;
  }