.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar li {
    margin-right: 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  .navbar a:hover {
    color: #ff0;
  }