.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .register-form {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .register-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .register-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .register-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #0056b3;
  }
  